<div class = "container">

  <h1> All notes by user </h1>

      <% @notes.each do |note| %>
      <p>
        <%= note.id %>.
        <%= note.title %>:
        <%= note.body %>
        <%= link_to "Show note", users_note_path(note), method: :get %>
      </p>
      <% end %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :destroy %>
</div>
